/* --------------------------------

COLORS

-------------------------------- */
@light:                 #fff;
@stable:                #6a91b3;
@positive:              #3fabc5;
@calm:                  #92b2c0;
@balanced:              #6cb21b;
@energized:             #f9edad;
@assertive:             #dd3c3c;
@royal:                 #F89C04;
@dark:                  #163958;
// Common
@gray:                  #828d93;
@gray-dark:             #475f6c;
@assertive-dark:        #7b0505;
@balanced-dark:         #346000;
// Type
@background-color:      #eef2f5;
@separator-color:       rgba(205, 214, 223, 0.6);
@bar-back:              #2e414b;
@border-color:          #beccd9;

// Old variables
@blue:       @positive;
@green:      @balanced;
@green-dark: @balanced-dark;
@red:      @assertive;
@red-dark: @assertive-dark;

//--------- Bootstrap colors
// Common
@brand-primary: @blue;
@brand-success: @green;
@brand-danger: @red;
@brand-warning: @royal;

// Text
@text-color: @dark;
@state-info-text: #FFF;

// Background
@state-success-bg: @green;
@state-info-bg: @blue;
@state-warning-bg: @royal;
@state-danger-bg: @assertive;


// Fonts
// -------------------------
@AvenirPath:        '../fonts/avenir';
@AvenirVersion:     '1.0.0';
@MontserratPath:    '../fonts/Montserrat';
@MontserratVersion: '1.0.0';
@font-type:        'Avenir', sans-serif!important;
@font-type-second: 'Montserrat', sans-serif!important;
@font-family-base: @font-type;
@font-size-base:   15px;
@font-size-small:  12px;
@headings-font-weight: 400;


@font-size-h1: 30px;
@font-size-h2: 24px;
@font-size-h3: 20px;
@font-size-h4: 18px;
@font-size-h5: 16px;
@font-size-large: @font-size-base;
@font-size-nav: 15px;

// Common
// -------------------------
@content-padding: 20px;
@default-padding: 10px;
@box-shadow: 0px 1px 3px rgba(26, 35, 40, 0.5);
// Border
@border-color-base:   @border-color;
@border-radius-base:  3px;
@border-radius-large: @border-radius-base;
// Padding
@padding-base-vertical: 9px;

// Input
// -------------------------
@input-color-placeholder: #afc2d3;

// Btn
// -------------------------
@btn-height: 36px;
@btn-padding: 6px @content-padding;
@btn-primary-border: @blue;
@btn-success-border: @brand-success;
@btn-danger-border: @brand-danger;
@btn-large-padding: 13px;

// Item
// -------------------------
@item-font-size:        15px;
@item-border-width:     1px;
@item-font-weight:    	400;
@item-padding:          10px;
@item-border-radius:    3px;
@item-labels-padding:   8px;
@item-medium-padding:   @item-padding - 2;
@item-medium-font-size: @item-font-size;
@item-small-padding:    @item-padding - 4;
@item-small-font-size:  15px;
// Item label
@item-label-padding:       2px 10px;
@item-label-font-size:     10px;
@item-label-border-radius: @item-border-radius;
@item-label-color:         @light;
@item-label-font-type:     @font-type-second;
// Colors
@item-default-box-shadow: none;
@item-default-bg:       	transparent;
@item-default-border:   	@border-color;
@item-default-text:     	@stable;
@item-light-bg:            @light;
@item-light-border:        @item-default-border;
@item-light-text:          @item-default-text;
@item-light-box-shadow:    0 1px 0 rgba(207, 218, 228, 0.3);
@item-light-hover-bg:      @light;
@item-light-hover-text:    @positive;
@item-light-hover-border:  @positive;
@item-calm-bg:      		@calm;
@item-calm-border:  		#6c8895;
@item-calm-text:    		#fff;
@item-calm-box-shadow: 	0 1px 0 rgba(108, 136, 149, 0.2);
@item-positive-bg:     			@positive;
@item-positive-text:   			@light;
@item-positive-border: 			#15829c;
@item-positive-box-shadow: 	0 1px 0 rgba(21, 130, 156, 0.2);
@item-calm-box-shadow: 	0 1px 0 rgba(108, 136, 149, 0.2);
@item-assertive-bg:     			@assertive;
@item-assertive-text:   			@light;
@item-assertive-border: 			#15829c;
@item-assertive-box-shadow: 	0 1px 0 rgba(21, 130, 156, 0.2);
@item-balanced-bg:     			#E6F8DF;
@item-balanced-text:   			@balanced;
@item-balanced-border: 			@balanced;
@item-balanced-box-shadow: 	0 1px 0 rgba(21, 130, 156, 0.2);

// Empty
// -------------------------
@empty-icon-size: 45px;
@empty-badge-height: 20px;
@empty-title-margin: @content-padding + 10;
@empty-bottom-margin: @content-padding;

// Components
// -------------------------
// Circle
@circle-size:       35px;
@circle-size-tall:  100px;
@circle-size-small: 30px;

//Labels
@label-success-bg: @green;
@label-info-bg: @blue;
@label-warning-bg: @royal;
@label-danger-bg: @red;
@label-border-radius: 3px;

// Badge
@badge-bg: @dark;
@badge-color: @light;
