/* -------------------------------- 

Bootstrap

-------------------------------- */
//------ Colors
@btn-primary-border: @blue;
// @btn-default-color: @gray-light;
// @btn-default-border: @gray-light;
// @btn-default-border: @gray-light;
@btn-success-border: @brand-success;
@btn-danger-border: @brand-danger;

//------ Size
@padding-large-vertical: 8px;

//  Mixin
.button-variant(@color; @background; @border) {
  color: @color;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color;
    background-color: darken(@background, 10%);
        border-color: darken(@border, 10%);
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: @background;
          border-color: @border;
    }
  }

  .badge {
    color: @background;
    background-color: @color;
  }
}

/* -------------------------------- 

Additionaly style

-------------------------------- */
.btn.btn-outline {
  .button-variant(@gray-light, #FFF, @btn-default-border);
  background: none;
  
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle&  {
    background: @gray;
    border-color: @gray;
    color: #FFF;
  }
}

.btn.btn-clear {
  .button-variant(@gray-light, #FFF, #FFF);
  border: none;
  background: none;
  
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > .dropdown-toggle&  {
    color: @gray;
    border: none;
    background: none;    
  }
}
