/* --------------------------------

Labels

-------------------------------- */
.label {
  border-radius: @label-border-radius;
  padding: .3em .8em;

  .btn-label {
    margin-left: 3px;
  }
}

/*----------------

      CIRCLE

----------------*/
.circle {
  .circle();

  &.circle-dark {
    .circle-style(@dark);
  }
  &.circle-light {
    .circle-style(@light, @stable);
    border: 1px solid #b2bfcc;
  }
  &.circle-positive {
    .circle-style(@positive);
  }
  &.circle-stable {
    .circle-style(@stable);
  }
  &.circle-calm {
    .circle-style(@calm);
  }
  &.circle-balanced {
    .circle-style(@balanced);
  }
  &.circle-assertive {
    .circle-style(@assertive);
  }
  &.circle-gray {
    .circle-style(@gray);
  }

  // Size
  &.circle-tall {
    .circle(@circle-size-tall);
  }
  &.circle-small {
    .circle(@circle-size-small);
  }
}

.circle(@size: @circle-size) {
  height: @size;
  width: @size;
  line-height: @size;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.circle-style(@background, @color: @light) {
  background: @background;
  color: @color;
}
