/* -------------------------------- 

Labels

-------------------------------- */
//------ Colors
@label-success-bg: @green-light;
@label-info-bg: @blue-light;
@label-warning-bg: @orange-light;
@label-danger-bg: @red-light;

//------ Size
@label-border-radius: 10px;
@label-font-size-ratio: 85%;

//  Custom
.label {
  border-radius: @label-border-radius;
  font-size: @label-font-size-ratio;
  padding: .3em .8em;
}