/* --------------------------------

Bootstrap

-------------------------------- */
// color
@input-color: @gray-dark;
@input-border: @border-color-base;
@input-border-focus: @brand-primary;
@state-danger-text: @assertive;
@state-danger-border: @red;
@state-success-text: @green;
@state-success-border: @green;
// addon
@input-group-addon-bg: @input-bg;

// Size
@input-height-base: 40px;

/* --------------------------------

Custom

-------------------------------- */
// Help
.help-block {
  color: @stable;
  font-size: @font-size-small;
}

// Label
label {
  font-weight: normal;
}
.control-label {
  padding-top: 12px;
}

// Inputs
.form-control {
  .box-shadow(none);

  .has-success &,
  .has-error & {
    .box-shadow(none);
  }

  .has-success &:focus,
  .has-error &:focus,
  &:focus {
    .box-shadow(none);
  }
}

// Select
select {
  -webkit-appearance : none !important;
  -moz-appearance : none !important;
  &:focus {
    outline : 0;
  }
}

.sf_input-select,
.form-select {
  position: relative;
  &:before {
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 10px;
    color: @stable;
    .icon('\eA06');
  }
}
.dropdown-toggle {
  font-family: @font-type-second;
  text-transform: uppercase;
  font-size: 12px;
  padding-left: @content-padding;
  padding-right: @content-padding + 10px;

  &.form-select:before,
  &.sf_input-select:before {
    top: 1px;
    right: 0;
  }
}

// Addon
.input-group-addon + .form-control{
  border-left: none;

  &:focus {
    border-color: @input-border;
  }
}
