/*---------------------

Inputs

---------------------*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: @input-bg;
  border: @input-border;
  color: @input-color;
  box-shadow: @input-box-shadow;
  padding: @input-padding;
  border-radius: @input-border-radius;

  .focus();
}
select {
  .focus();
}

/* --------------------------------

Custom

-------------------------------- */
// Help
.help-block {
  color: @stable;
  font-size: @font-size-small;
}

// Label
label {
  font-weight: normal;
}
.control-label {
  padding-top: 12px;
}

// Inputs
.form-control {
  .box-shadow(none);

  .has-success &,
  .has-error & {
    .box-shadow(none);
  }

  .has-success &:focus,
  .has-error &:focus,
  &:focus {
    .box-shadow(none);
  }
}

/*---------------------

Select

---------------------*/
select {
  -webkit-appearance : none !important;
  -moz-appearance : none !important;
  &:focus {
    outline : 0;
  }
}
.addicon(@codeIcon){
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  color: @stable;
  .icon(@codeIcon);
}
.sf_input-select,
.form-select {
  position: relative;
  &:before{
    .addicon('\eA06'); // ss-angle-down
  }
}
.form-asideMenu {
  position: relative;
  &:before{
    .addicon('\e038'); // ss-chevron-right
  }
}
.sf_dropdown-toggle {
  padding:       @dropdown-padding;

  border-radius: @dropdown-border-radius;
  border:        1px solid @dropdown-border-color;

  font-size:      @dropdown-font-size;
  font-family:    @dropdown-font-family;
  text-transform: uppercase;
  font-weight:    @dropdown-font-weight;

  background: @dropdown-bg;
  color:      @dropdown-color;
  cursor: pointer;

  &.form-select:before {
    top: 8px;
  }
}

// Addon
.input-group-addon + .form-control{
  background-color: @input-bg;
  border:           @input-border;
  color:            @input-color;
  border-left-width: 0;

  .focus();
}

/*---------------------

Toggle

---------------------*/
.toggle {
  .clearfix;
  border: 1px solid;
  border-color: @toggle-default-border-color;
  background: @toggle-default-bg;
  padding: @toggle-padding;
  box-shadow: @item-light-box-shadow;
  border-radius: @toggle-border-radius;
  font-family: @font-type-second;

  .option {
    width: 50%;
    float: left;
    max-height: @toggle-height;
    line-height: @toggle-height;
    padding: 0 @toggle-option-padding;
    text-transform: uppercase;
    border-width: 0;
    background: initial;
    color: @toggle-default-color;
    font-size: @toggle-font-size;

    &.active {
      background: @toggle-default-active-bg;
      color: @toggle-default-active-color;
    }
  }
  .option--left{
    border-radius: @toggle-border-radius 0 0 @toggle-border-radius;
  }
  .option--right{
    border-radius: 0 @toggle-border-radius @toggle-border-radius 0;
  }
  &.toggle-rounded {
    border-radius: @toggle-rounded-border-radius;
    .option {
      border-radius: @toggle-rounded-border-radius;
    }
  }
}

.toggle-small .toggle,
.toggle.toggle-small {
  padding: @toggle-small-padding;

  .option {
    font-size: @toggle-small-font-size;
    max-height: @toggle-small-height;
    line-height: @toggle-small-height;
    padding: @toggle-small-option-padding;
  }
}
.yes-no-item {
  .toggle .btn {
    .focus();

    &:last-of-type.active {
      background-color: #A7BACB;
    }
  }

  label {
    margin-top: 5px!important;
    width: calc(~"100% - 110px");
  }
}

.focus() {
  &:focus {
    border-color: @input-border-focus!important;
    outline: 0;
    box-shadow: none;
  }
}
