/* -------------------------------- 

Bootstrap

-------------------------------- */
//------ Colors
@panel-inner-border:  @border-color-base;
@panel-footer-bg:     @gray-clearer;
// Default
@panel-default-border:        @border-color-base;
@panel-default-heading-bg:    @gray-darker;

//------ Size
@panel-border-radius: 0;

/* -------------------------------- 

Additionaly style

-------------------------------- */
.panel {
  .box-shadow(none);
}

.panel-light {
  background-color: @gray-clearer;
}