/* --------------------------------

Bootstrap

-------------------------------- */
// color
@headings-color: @gray-dark;


/* --------------------------------

Custom

-------------------------------- */
// Titles
h1, h2, h3 {
  margin-top: 0;
  font-weight: normal;
}

h3 { color: @stable; }

// Common
p {
  font-size: @font-size-base;
}

small {
  font-size: @font-size-small;
}
