/* -------------------------------- 

Bootstrap

-------------------------------- */
//------ Colors
@table-border-color: @gray-lighter;


//------ Size
@table-height: 50px;
@table-cell-padding: 8px 10px;


/* -------------------------------- 

Additionaly style

-------------------------------- */

.table {
  border: 1px solid @table-border-color;

  thead {
    color: @gray-light;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }

  tbody {
    color: @gray;
    font-size: @font-size-base;
  }

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        height: @table-height;
        vertical-align: middle;
      }
    }
  }
  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: middle;
    border-bottom: none;
  }
}

// Add hover styles
.table-hover {
  // Hide actions icon
  .btn.icon-rounded {
    display: none;
  }
  
  // Display on row hover
  tr:hover {
    .btn.icon-rounded {
      display: block;
    }    
  }
}
