.table {
  border: 1px solid @table-border-color;
  box-shadow: @table-box-shadow;
  border-radius: @table-border-radius;
  border-collapse: initial;

  thead {
    background-color: @table-head-bg;
    color: @table-head-color;
  }

  tbody tr {
    &:nth-child(2n) {
      background-color: fade(@background-color, 60%);
    }
    &:hover {
      background-color: @table-cell-hover-bg;
      color: @table-cell-hover-color;
    }
  }

  tfoot {
    background-color: @table-head-bg;
    color: @table-head-color;
  }

  // Cells
  > thead > tr > th {
    height: @table-head-height;
    border-bottom: none;
  }

  > thead > tr > th ,
  > tfoot > tr > td {
    vertical-align: middle;
    padding: @table-head-padding;
    font-weight: bold;
    font-size: @table-head-font-size;
  }
  > tbody > tr > td {
    height: @table-cell-height;
    vertical-align: middle;
  }
  > tfoot > tr > td {
    height: @table-footer-height;
    text-align: right;
  }

  .table-action {
    padding: 3px;
    display: none;
    text-decoration: none;
    height: auto;
    color: @light;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;

    &.table-action-danger {
      color: @assertive
    }
    &.table-action-warning {
      color: @royal
    }
    &:hover {
      opacity: 1;
    }
  }

  // Display on row hover
  tr:hover .table-action {
    display: block;
  }
}

/* --------------------------------

Pagination

-------------------------------- */
.pagination {
  float: right;
  margin: 0; // overwrite bootstrap

  > li {
    > a,
    > span {
      padding: 0;
      height: @pagination-height;
      line-height: @pagination-height - 1px;
      width: @pagination-width;
      text-align: center;
      border-radius: @pagination-border-radius;
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

/* --------------------------------

Tools

-------------------------------- */
.sf_table__tools {
  padding-bottom: @tools-padding;
  padding-top: @tools-padding;
  float: left;
  width: 100%;

  .pagination {
    float: right;
    margin: 5px 0;
  }
}
