/* --------------------------------

Bootstrap

-------------------------------- */
//------ Colors
@panel-inner-border:  @border-color-base;
// Default
@panel-default-border:        @border-color-base;
@panel-default-heading-bg:    @gray-darker;

//------ Size
@panel-border-radius: 0;

/* --------------------------------

Additionaly style

-------------------------------- */
.panel {
  .box-shadow(none);
}
