/*
  All this css is specific to the github page (http://simplifield.github.io/sf-style-guide/)
  This is going to be as minismal as it can be.
*/

.guide_title {
  margin: 5em 0 1em;
  text-align: center;
}

.guide_subtitle {
  margin: 50px 0 25px;
}

.guide_container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 0;
}

.guide_container + pre {
  border-radius: 0;
  border-top: 0;
}

.guide_header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.guide_logo {
  padding: 20px;
  margin-bottom: 0;
}

.guide_colors {
  list-style: none;
}
.guide_colorsSquare {
  text-align: center;
  position: relative;
  width: 100%;
  padding: 20px 0;
  margin-bottom: 10px;
}

.guide_buttons-icons li {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0.8em;
  text-align: center;
  width: 13.33%;
}

.guide_buttons-icons li i {
  font-size: 30px;
}
